<%= form_for @customer, url: customer_path(@customer.id) do |f| %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
 <p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
